/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto', sans-serif ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

/* Estilos del menú de navegación */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 1000;
}

/* Estilos del logo */
.logo {
    color: rgb(36, 113, 163);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 250px;
    display: flex;
    text-decoration: none;
}

/* Estilos del menú de navegación */
.menu .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
    display: flex;
}

.menu .navbar ul li a {
    font-size: 19px;
    padding: 0 20px;
    color: rgb(0, 139, 139);
    display: flex;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: rgb(36, 113, 163);
}

/* Estilos del icono de menú y del menú desplegable */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

form {
    width: 400px;
    background-color: whitesmoke;
    padding: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-left: 300px;
    margin-right: 50px;
}

img {
    flex-basis: 35%;
    max-width: 100%;
    height: auto;
    max-height: 700px;
    margin-right: 275px;
    margin-left: 50px;
}


form h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: rgb(0,139,139);
    margin-left: 70px;
}

form label{
    font-size: 20px;
    align-items: flex-start;
    color: rgba(36,113,163);
    padding-right: 200px;
}

input{
    background-color: whitesmoke;
    padding: 17px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    color: black;
    outline: none;
    font-size: 16px;
}

.btn-1{
    background-color: rgb(36,113,163);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #42a8f6;
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        cursor: pointer;
        display: none; /* Mostrar el icono de hamburguesa */
        height: 65px;
        width: 65px;
        margin-bottom: 1000px; 
    }

    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: rgba(245, 245, 245, 0.8);
        display: none;
        
    }

    .menu .navbar ul {
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        padding: 20px 0;
        align-items: center;
        transform: translateY(50%);
    }

    .menu .navbar ul li a {
        margin-right: 0;
    }

    .menu .navbar ul li a:hover {
        color: white;
    }

    .menu:checked ~ .navbar {
        display:flex;
        top: 50%;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    img {
        display: none;
    }

}