/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto', sans-serif ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

/* Estilos del menú de navegación */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Estilos del logo */
.logo {
    color: rgb(36, 113, 163);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 250px;
    display: flex;
}

/* Estilos del menú de navegación */
.menu .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
    display: flex;
}

.menu .navbar ul li a {
    font-size: 19px;
    padding: 0 20px;
    color: rgb(0, 139, 139);
    display: flex;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    
}

.menu .navbar ul li a:hover {
    color: rgb(36, 113, 163);
}

/* Estilos del icono de menú y del menú desplegable */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: whitesmoke;
    padding: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.2);
    margin-left: 400px;
    margin-top: 135px;
}


form h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: rgb(0,139,139);
}

input{
    background-color: whitesmoke;
    padding: 17px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    color: black;
    outline: none;
    font-size: 16px;
}

.btn-1{
    background-color: rgb(36,113,163);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #42a8f6;
}


@media(max-width:991px) {
    body{
        padding: 30px;
    }
     /* Ajustes en el menú de navegación para dispositivos más pequeños */
     .menu {
        padding: 20px;
        position: relative;
    }


    .menu label {
        cursor: pointer;
        display: initial; /* Mostrar el icono de hamburguesa */
        
    }
    
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(245, 245, 245, 0.8);
        display: none;
    }

    .menu .navbar ul {
        flex-direction: column;
        margin-right: 750px;
    }

    .menu .navbar ul li {
        width: 100%;
        padding: 20px 0;
    }


    .menu .navbar ul li a:hover {
        color: white;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    form{
        width: 340px;
    }

}