/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto', sans-serif ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: whitesmoke;
    padding: 45px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.2);
}


form h2{
    font-size: 35px;
    margin-bottom: 35px;
    color: rgb(0,139,139);
}

input{
    background-color: whitesmoke;
    padding: 17px 20px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 25px;
    color: black;
    outline: none;
    font-size: 16px;
}

.btn-1{
    background-color: rgb(36,113,163);
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #42a8f6;
}


@media(max-width:991px) {
    body{
        padding: 30px;
    }
    form{
        width: 340px;
    }
    
}