/* Importación de la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Comentarios desactivados: Fuente 'Roboto', sans-serif; */

/* Estilos generales para resetear márgenes, rellenos y estilos de lista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Estilos del cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

/* Estilos generales para imágenes */
img {
    max-width: 100%;
}

/* Estilos del contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos de la barra de menú */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Estilos del logotipo */
.logo {
    color: rgb(36, 113, 163);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

/* Estilos de la barra de navegación */
.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li a {
    font-size: 19px;
    padding: 0 20px;
    color: rgb(0, 139, 139);
    display: flex;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.menu .navbar ul .submenu {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu .navbar ul .submenu li {
    padding: 12px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.5);
    color: rgb(0, 139, 139);
}

/* Mostrar el submenu al pasar el ratón sobre el elemento padre */
.menu .navbar ul li:hover .submenu {
    display: flex;
    flex-direction: column;
}

.menu .navbar ul li a:hover {
    color: rgb(36, 113, 163);
}

/* Estilos para la visualización de menú en dispositivos móviles */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Estilos del contenido del encabezado */
.header-content {
    display: flex;
    padding: 80px 0 0 0;
}

/* Estilos del texto del encabezado */
.header-txt {
    flex-basis: 50%;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}

/* Estilos de la imagen del encabezado */
.header-img {
    flex-basis: 50%;
}

/* Estilos específicos para el texto del encabezado */
.header-txt span {
    font-size: 27px;
    text-transform: capitalize;
    color: black;
    font-weight: 600px;
    margin-bottom: 15px;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.header-txt h1 {
    font-size: 34px;
    line-height: 1;
    color: rgb(0, 139, 139);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

/* Estilos generales para párrafos */
p {
    font-size: 17px;
    color: black;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.contact h2{
    margin-left: 42%;
    margin-bottom: 3%;
}

.btn-1 {
    display: inline-block;
    padding: 14px 25px;
    background-color: rgb(36, 113, 163);
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(33, 40, 105, 0.2);
    font-family: 'Roboto', sans-serif;
    margin-left: 35%;
}
/* Estilos del título h2 */
h2 {
    font-size: 35px;
    line-height: 1;
    color: rgb(0, 139, 139);
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

/* Estilos de la sección "Acerca de" */
.about {
    padding: 80px 0;
    background-color: whitesmoke;
}

/* Estilos del contenido de la sección "Acerca de" */
.about-content {
    display: flex;
    align-items: center;
    line-height: 1.5;
}


/* Estilos del texto de la sección "Acerca de" */
.about-txt {
    flex-basis: 50%;
    padding-right: 80px;
}
.about-txt h3{
    font-size: 28px;
    line-height: 1;
    color: rgb(0, 139, 139);
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}


.about-txt p {
    font-size: 18px;
    margin-bottom: 50px;
}

/* Estilos de las imágenes de la sección "Acerca de" */
.about-img {
    flex-basis: 50%;
    height: 60%;
    max-width: 50%;
    margin-bottom: 3%;
}

/* Estilos de las columnas de servicios */
.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

/* Estilos de la sección de contacto */
.contact {
    padding: 120px 0;
    text-align: center;
}

/* Estilos del formulario de contacto */
form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Estilos de los campos de entrada en el formulario */
input {
    width: 300px;
    padding: 17px;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10 rgba(33, 40, 105, 0.2);
    margin-right: 20px;
}
.contact h2{
    margin-left: 1%;
    margin-bottom: 6%;
}

.btn-1 {
    display: inline-block;
    padding: 14px 25px;
    background-color: rgb(36, 113, 163);
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(33, 40, 105, 0.2);
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;
}


/* Estilos del pie de página */
.footer {
    background-color: black;
    padding: 50px 0;
}

/* Estilos del contenido del pie de página */
.footer-content {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* Estilos de las secciones de enlaces en el pie de página */
.link h3 {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.link a {
    color: white;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.link a:hover {
    color: rgb(0, 139, 139);
}

/* Estilos de media consulta para pantallas de hasta 991px de ancho */
@media (max-width: 991px) {
    /* Estilos específicos para la barra de menú en dispositivos móviles */
    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        cursor: pointer;
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(245, 245, 245, 0.8);
        display: none;
    }

    .menu .navbar ul {
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        padding: 20px 0;
        align-items: center;
    }

    .menu .navbar ul li a:hover {
        color: white;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    /* Estilos específicos para el contenido del encabezado en dispositivos móviles */
    .header-content {
        padding: 20px 30px;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
    }

    .header-txt {
        padding: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .header-txt span {
        font-size: 21px;
    }

    .header-txt h1 {
        font-size: 18px;
    }

    /* Estilos específicos para párrafos en dispositivos móviles */
    p {
        margin-bottom: 30px;
        font-size: 10px;
        flex-direction: column;
        align-items: center;
    }

    /* Estilos específicos para el botón en dispositivos móviles */
    .btn-1 {
        display: inline-block;
        padding: 14px 25px;
        background-color: rgb(36, 113, 163);
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 10px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(33, 40, 105, 0.2);
        font-family: 'Roboto',sans-serif;
    }

    /* Estilos específicos para la sección "Acerca de" en dispositivos móviles */
    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-txt {
        padding: 0 0 30px 0;
    }

    .about-txt h2 {
        font-size: 21px;
    }

    .about-txt p {
        font-size: 12px;
    }

    /* Estilos específicos para la sección de contacto en dispositivos móviles */
    .contact {
        padding: 50px 80px;
    }

    /* Estilos específicos para las columnas de servicios en dispositivos móviles */
    .column {
        flex: 1;
        margin: 10px 0;
        margin-left: 25%;
        margin-right: 25%;
    }

    .column h4 {
        margin: 10px 0;
        font-family: 'Roboto', sans-serif;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
    }

    .contact h2{
        margin-bottom: 50px;
    }

    /* Estilos específicos para el formulario de contacto en dispositivos móviles */
    form {
        flex-direction: column;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Estilos específicos para el pie de página en dispositivos móviles */
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
