/* Importa la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Estilos del cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}
/* Estilos de las imágenes */
img {
    max-width: 100%;
}

/* Contenedor máximo de 1200px centrado en la página */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos del menú de navegación */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    text-decoration: none;
    list-style: none;
}

/* Estilos del logo */
.logo {
    color: rgb(36, 113, 163);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

/* Estilos del menú de navegación */
.menu .navbar ul {
    display: flex;
    list-style: none;
}

.menu .navbar ul li a {
    font-size: 19px;
    padding: 0 20px;
    color: rgb(0, 139, 139);
    display: flex;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.menu .navbar ul li a:hover {
    color: rgb(36, 113, 163);
    list-style: none;
}

/* Estilos del icono de menú y del menú desplegable */
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Estilos del contenido del encabezado */
.header-content {
    display: flex;
    padding: 80px 0 0 0;
}

/* Estilos del texto del encabezado */
.header-txt {
    flex-basis: 50%;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
}

.header-txt span {
    font-size: 27px;
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 1;
    color: rgb(0, 139, 139);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

/* Estilos para el carrusel de imágenes */
.slideshow-container {
    max-width: 99.7%;
    position: relative;
    margin: auto; 
    margin-top: 0.5px;
    margin-bottom: 0.5px;

}

.slide {
    display: none; /* Oculta las diapositivas */
}

/* Estilos para las imágenes dentro del carrusel */
img {
    width: 100%;
    height: 800px;
    margin-right: 0px; 
} 

/* Estilos para el contenedor de imágenes */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.image-container img {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

/* Estilos para las columnas de servicios */
.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra tanto la imagen como el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 15%;
    margin-top: 1%;
}

.column:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.column img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.column h4 {
    margin: 10px 0; /* Espacio entre la imagen y el texto */
    color: darksalmon;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-decoration-color: darksalmon;
    text-decoration-style: solid;
}

/* Estilos para el pie de página */
footer {
    background-color: black;
    padding: 50px;
    margin: -13%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.link h3 {
    color: white;
    font-size: 15px;
    margin-bottom: 11px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.link a {
    color: white;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif
}

.link a:hover {
    color: rgb(0,139,139); /* Cambia el color al pasar el mouse */
}


@media (max-width: 791px) {
    /* Ajustes en el menú de navegación para dispositivos más pequeños */
    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        cursor: pointer;
        display: block; /* Mostrar el icono de hamburguesa */
        width: 100px;/*Arreglarlo para que salga la hamburguesa*/
        height: 10px;
        margin:auto;
        color: black;
        font-size: 30px;
        padding-left: 300px;
        padding-bottom: 20px;
    }

    #menu:checked + label + .navbar {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(245, 245, 245, 0.8);
        display: none;
    }   

    .menu .navbar ul {
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        padding: 20px;
        align-items: center;
    }
    .menu .navbar ul li a:hover {
        color: white;
    }

    #menu:checked ~ .navbar {
        display: block;
    }
   
    .slideshow-container {
        height: auto;/*   Ajusta la altura del carrusel para que se ajuste automáticamente al contenido */
        margin-bottom: 14px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .slide {
        display: block; /* Muestra las diapositivas una debajo de la otra en dispositivos móviles */
    }

    .image-container {
        align-items: center; /* Centra verticalmente en dispositivos móviles */
        height: -50%;
    }

    .image-container img {
        max-width: 100%; /* Ajusta el ancho de la imagen al 100% para que quepa en la pantalla */
        height: auto;
    }

    .column {
        flex: 1;
        margin: 10px 0; /* Espacio entre las columnas en dispositivos móviles */
        margin-top: 0px;
    }

    .column h4 {
        margin: 10px 0; /* Espacio entre el texto y las imágenes en dispositivos móviles */
        font-family: 'Roboto', sans-serif;
        flex-direction: column;
        text-align: center;
        font-size: 13px;
    }

    .footer-content {
        flex-direction:column; /* Cambia la dirección de los elementos del pie de página a columna en dispositivos móviles */
        text-align: center; /* Alinea el texto del pie de página al centro en dispositivos móviles */
        margin-left: -50px;
    }
    
    .footer-content h3{
        text-align: center;
        margin-right: -40px;
    }
}